@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
   
    /* background-color: #272222;
    background-color: #0c0c27; */
   /* background-color: #0f172a;  */
  font-family: "Noto Sans Hanunoo", sans-serif;
    
    scroll-behavior: smooth;
  }
  /* .body-background {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0f172a; 
  }
  
  .body-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: 
      linear-gradient(to right, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
    background-size: 14px 24px;
    mask-image: radial-gradient(ellipse 60% 50% at 50% 0%, #000 70%, transparent 100%);
  } */
  
h1{
    color: #a97e48;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
h2{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
h3{
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  /* color: rgb(116, 243, 232); */
}
h4{
  font-family: "Raleway", sans-serif;
  /* font-weight: 600; */
}
.trans{
  background-clip:text ;
  background-image: linear-gradient(to right, #808080, #252323);
  background-image: linear-gradient(to right, #8eee8e, #571212);
  background-image: linear-gradient(to right, #0d1149, #3f053f);
  background-image: linear-gradient(to right,rgb(116, 243, 232)10%, #0a0a7b 43%);
  background-image: linear-gradient(to right, rgb(59, 245, 229) 7%, rgb(96, 219, 209) 2%, #4040af 18%);
  background-image: linear-gradient(to right, rgb(59, 245, 229) 7%, rgb(96, 219, 209) 2%, #6161c5 18%);
  /* background-image: linear-gradient(to right, #808080 10%, #970707 32%); */
  /* background-image: linear-gradient(to right,  rgb(59, 245, 229) 10%, #090957 27%); */
  
  color: transparent;
 
}
.p{
  font-family: "Noto Sans Hanunoo", sans-serif;
  /* font-family: "Quicksand", sans-serif; */

  font-size: 14px;
  width: 602px;
}
.nav {
    /* background-color: teal;
    background-color: #0a6363; */
    /* background-color: blue;
    background-color: #e7e7b0; */
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    position: relative;
    /* width: 100vw ; */
    /* top: 0; */
    /* z-index: 2; */
  
    
  }
  .nav-items {
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
    align-items: center;
    
  }
  
  nav a {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 22px;
    color: white;
    font-family: "Cabin", sans-serif;
  }
  /* nav img {
    width: 20px;
  } */
.img{
  width: 160px;
 
}
.video{
  width: 300px;
  height: 270px;
}
  a{
    transition: color 0.3s;
    /* font-size: 22px; */
    /* color: #b3d9bd; */
    text-decoration: none;
  }
  .icon:hover {
   transform: scale(1.2);
   transition: color 0.3s;
    font-size: 22px;
  
  }
  .isActive{
    color:#12c7c7;
  
  }
  
  /* home */
  .flex{
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0 12px;
  }
  .flex-btn{
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0 12px;
  }
  .container{
    /* background-color: #497777; */
    /* height: 400px; */
    margin: 70px 0;
    /* margin-top: 55px; */
    padding: 30px;
    /* z-index: 10; */
    position: relative;
    /* width: 100%; */
  }
 
  .large{
    font-size: 37px;
  }
  .m-top{
    margin: 21px 0;
  }
  .medium{
    font-size: 21.5px;
  }

  .btn{
    cursor: pointer;
    font-size: 13px;
    border-radius: 7px;
    margin: 8px 0;
    padding: 6px 7px;
    outline: none;
    border: none;
    background-color: #181a1e;
    background-color: #161921;
    /* background-color:   #202020;
    background-color:  #292929 ; */
    
  }
.btn:hover{
    background-color:  #0f1013; 
 
}
 
  .flex-center{
display: flex;
align-items: center;
justify-content: center;
gap: 35px;
  }

  /* technologies */
  .text-center{
    text-align: center;
  }
  .font-size{
    font-size: 24px;
  }
  .b {
    border: 2px solid #161921;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 8px;
    /* background-color: #181a1e; */
    cursor: pointer;
}
  .tech{
    width: 27px;
    cursor: pointer;
    
  }
  .container-tech{
    /* background-color: #497777; */
    /* height: 200px; */
    /* margin: 15px 0; */
    padding: 30px;
    
    position: relative;

  /* background-color: black; */

  }
 
  .m-top1{
    margin: 50px 0;
  }

  /* projects */
 .cards{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 12px; */
    margin: 10px 0;

 }
 .c-height{
  /* height: 700px; */
  /* width: 1200px; */
  /* margin: auto; */
 }
 .flex-card{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* border: 2px solid red; */
  /* gap: 40px; */
  justify-content: space-around;
  /* width: 800px; */
  line-height: 2rem;
  margin: 10px 0;
  padding: 15px ;
 }

 .desc{
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-size: 14px;
  width: 416px;
 }
 ul{
  list-style-type:square;
 }
 .li{
/* width: 520px; */
width: 416px;
font-size: 13px;
margin: 0 15px;
/* font-family: "Raleway", sans-serif; */
font-family: "Noto Sans Hanunoo", sans-serif;


 }
 .list-style{
list-style: none
 }
strong{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.color{
  color: rgb(96, 219, 209);
  /* color: #6161c5;
  color: #3ea3a3;
  color: rgb(190, 252, 252); */

  
}
.stack{
  padding: 4px 7px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 13px;
  border: 2px solid #161921;
    background-color: #181a1e;
}
.website{
  font-size: 15px;
  color: rgb(219, 212, 212);
  color: rgb(190, 252, 252);
  color: #3ea3a3;
  color: #6161c5;
  
}

.website:hover{
  transform: scale(1.1);

}
/* contact  */
.container-contact{
  position: relative;
  padding:  0 30px;
  padding-bottom: 70px;

}
.text-contact{
  font-size: 13px;
  margin: 25px 0;
}
.flex-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 25px 0; */
  gap: 12px;

}

 .trans-v{
  /* background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops)); 
  background-color: #a52b6e; 
  background-color: #3e12a5; */
  background-clip:text ;
  background-image: linear-gradient(to right, #ec3c9d, #210b53);
  color: transparent;
  line-height: 200%;
  /* background-color: gold; */
  /* color: pink; */
 }
 /* styles.css */

.relative {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #060c1a; 
  background-color: #03050a;
  /* background-color: #000716; */
  
 
 
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 250px; */
  top: 0;
  /* z-index: -2; */
  background-image: 
    linear-gradient(to right, rgba(79, 79, 79, 0.18) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
  background-size: 14px 24px;
  mask-image: radial-gradient(ellipse 60% 25% at 50% 0%, #000 70%, transparent 100%);


}



